{% extends "_base.html" %}

{% block content %}

  <div class="container">
    {% if message %}
    <div class="alert alert-success" role="alert" id="success-alert">
      <strong>Success!</strong> {{message}}
    </div>
    {% endif %}
    <div class="col-md-8 col-md-offset-2">
      <h1>Employees</h1>
      <a href="/employees/new">New Employee</a>
      <br>
      <br>
      <ul>
        {% for employee in employees %}
        <li class="list-item">
          <a class="item-text" href="/employees/{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</a><a href="/employees/{{employee.id}}/edit" class="edit">Edit</a>
          <form action="/employees/{{employee.id}}/delete" method="post">
            <input type="submit" value="✖" class="delete-button">
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
