{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{employee.first_name}} {{employee.last_name}}</h1>
      <a href="/employees/{{employee.id}}/edit">Edit</a>
      <h3>Email:</h3>
      <p class="item-text">
        <a href="mailto:{{employee.email}}">{{employee.email}}</a>
      </p>
      <h3>Location:</h3>
      <p class="list-item">
        <a href="/shops/{{employee.shop_id}}">{{employee.shop.name}}</a>
      </p>
      <h3>Favorite Donut:</h3>
      {% if employee.favorite_donut %}
      <p class="list-item">
        <a href="/donuts/{{employee.favorite_donut}}">{{employee.donut.name}}</a>
      </p>
      {% else %}
      <p>
        No favorite!
      </p>
      {% endif %}
      <br>
      <br>
      <form action="/employees/{{employee.id}}/delete" method="post">
        <input type="submit" value="Delete Employee" class="individual-delete-button">
      </form>
    </div>
  </div>

{% endblock %}
