{% extends "_base.html" %}

{% block content %}

  <div class="container">
    {% if message %}
    <div class="alert alert-success" role="alert" id="success-alert">
      <strong>Success!</strong> {{message}}
    </div>
    {% endif %}
    <h1>Employees</h1>
    <a href="/employees/new">New Employee</a>
    <br>
    <br>
    <div class="">
      <ul>
        {% for employee in employees %}
        <li><a href="/employees/{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</a> || <a href="/employees/{{employee.id}}/edit">Edit</a> || <a href="/employees/{{employee.id}}/delete">Delete</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
