{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <h1>{{employee.first_name}} {{employee.last_name}}</h1>
    <div class="">
      <ul>
        <li>{{employee.email}}</li>
        <li><a href="/shops/{{employee.shop_id}}">{{employee.shop.name}}</a></li>
        {% if employee.favorite_donut %}
        <li><a href="/donuts/{{employee.favorite_donut}}">{{employee.donut.name}}</a></li>
        {% else %}
        <li>No favorite!</li>
        {% endif %}
        <li><a href="/employees/{{employee.id}}/edit">Edit</a></li>
        <li><a href="/employees/{{employee.id}}/delete">Delete</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
