{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{donut.name}}<small> - ${{donut.price}}.00</small></h1>
      <a href="/donuts/{{donut.id}}/edit">Edit</a>
      <h3>Toppings</h3>
      <p>
        {{donut.topping}}
      </p>
      <h3>Found at these Locations:</h3>
      <ul>
        {% if (shops | length) %}
        {% for shop in shops %}
        <li class="list-item"><a class="item-text" href="/shops/{{shop.id}}">{{shop.name}}</a></li>
        {% endfor %}
        {% else %}
        <li>Looks like we're all out!</li>
        {% endif %}
      </ul>
      <br>
      <br>
      <form action="/donuts/{{donut.id}}/delete" method="post">
        <input type="submit" value="Delete Donut" class="individual-delete-button">
      </form>
    </div>
  </div>

{% endblock %}
