{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>New Donut</h1>
      <form method="post">
        <div class="col-md-7">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Name" class="form-control" required>
        </div>
        <div class="col-md-5">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" name="price" class="form-control" placeholder="Amount" required>
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <div class="col-md-12">
          <label for="topping">Toppings</label>
          <textarea type="text" name="topping" id="topping" placeholder="Toppings" class="form-control" required></textarea>
          <br>
          <input type="submit" value="Create Donut!" class="btn btn-success">
        </div>

      </form>
    </div>
  </div>

{% endblock %}
