{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <h1>New Donut</h1>
    <div class="col-md-12">
      <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" class="form-control">
        <label for="topping">Toppings</label>
        <input type="text" name="topping" id="topping" placeholder="Toppings" class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" class="form-control">
      </form>
    </div>
  </div>

{% endblock %}
