{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <h1>{{shop.name}}</h1>
    <h2>{{shop.city}}</h2>
    <div class="">
      <h3>Donuts</h3>
      <ul>
        {% for donut in shop.donuts %}
        <li><a href="/donuts/{{donut.id}}"> {{donut.name}}</a>, {{donut.topping}}, {{donut.price}}</li>
        {% endfor %}
      </ul>
      <h3>Employees</h3>
      <ul>
        {% for employee in shop.employees %}
        <li><a href="/employees/{{employee.id}}"> {{employee.first_name}} {{employee.last_name}}</a>, {{employee.email}}, {{employee.favorite_donut}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
