{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{shop.name}}</h1>
      <h2>{{shop.city}}</h2>
      <h3>Donuts</h3>
      <ul>
        {% if (shop.donuts | length ) %}
        {% for donut in shop.donuts %}
        <li><a href="/donuts/{{donut.id}}"> {{donut.name}}</a> - ${{donut.price}}.00</li>
        {% endfor %}
        {% else %}
        <li>No donuts left!</li>
        {% endif %}
      </ul>
      <h3>Employees</h3>
      <ul>
        {% if (shop.employees | length ) %}
        {% for employee in shop.employees %}
        <li><a href="/employees/{{employee.id}}"> {{employee.first_name}} {{employee.last_name}}</a></li>
        {% endfor %}
        {% else %}
        <li>No employees!</li>
        {% endif %}
      </ul>
      <br>
      <br>
      <form action="/shops/{{shop.id}}/delete" method="post">
        <a href="/shops/{{shop.id}}/edit">Edit Shop</a>
        <input type="submit" value="Delete Shop" class="individual-delete-button">
      </form>
    </div>
  </div>

{% endblock %}
