body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightgrey;
  padding-bottom: 40px;
}
ul {
 list-style: none;
 padding-left: 0;
}
.list-item {
  background: white;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
}
.delete-button {
  background: white;
  border: none;
  position: absolute;
  right: 10px;
  top: 33%;
}
.edit {
  position: absolute;
  right: 40px;
  top: 37.5%;
}
.item-text {
  color: grey;
  font-size: 1.5rem;
}
.sub-text {
  color: grey;
  margin-left: 10px;
}
a {
  color: #00B7FF;
}

/*Navbar animation*/
.navbar-toggle .icon-bar:nth-of-type(2) {
	top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
	position: relative;
	transition: all 300ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	top: 6px;
	transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	top: -6px;
	transform: rotate(-45deg);
}

.navbar-collapse {
  border: none;
}

.navbar-default .navbar-collapse {
  border: none;
}
